# Airbnb Ratings Prediction

#### 각 방의 정보들을 가지고 그 방의 평점을 예측해주세요.
#### 최종적으로 r2_score를 0.999 이상으로 예측하면 성공입니다!

#### Target variable: review_scores_rating
#### Independent variables: else

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [10]:
import pandas as pd
import numpy as np
import pandas_profiling

In [6]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [11]:
df = pd.read_csv('/content/drive/My Drive/YBIGTA/DA 교육세션/2020-09-26 ML  Regression/airbnb_preprocessed.csv')

### 자유롭게 FE 해주세요

In [7]:
df.head()

,Unnamed: 0,Unnamed: 0.1,id,name,summary,description,host_listings_count,host_total_listings_count,host_verifications,latitude,longitude,accommodates,bathrooms,bedrooms,beds,amenities,price,guests_included,extra_people,minimum_nights,maximum_nights,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,review_scores_rating,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,host_is_superhost_f,host_is_superhost_t,host_has_profile_pic_f,host_has_profile_pic_t,host_identity_verified_f,host_identity_verified_t,neighbourhood_group_cleansed_Bronx,neighbourhood_group_cleansed_Brooklyn,neighbourhood_group_cleansed_Manhattan,neighbourhood_group_cleansed_Queens,neighbourhood_group_cleansed_Staten Island,is_location_exact_f,is_location_exact_t,property_type_Apartment,property_type_Condominium,property_type_House,property_type_Loft,property_type_Townhouse,room_type_Entire home/apt,room_type_Hotel room,room_type_Private room,room_type_Shared room,bed_type_Airbed,bed_type_Couch,bed_type_Futon,bed_type_Pull-out Sofa,bed_type_Real Bed,has_availability_t,requires_license_f,instant_bookable_f,instant_bookable_t,is_business_travel_ready_f,cancellation_policy_flexible,cancellation_policy_moderate,cancellation_policy_strict,cancellation_policy_strict_14_with_grace_period,cancellation_policy_super_strict_30,cancellation_policy_super_strict_60,require_guest_profile_picture_f,require_guest_profile_picture_t,require_guest_phone_verification_f,require_guest_phone_verification_t
0,0,1,2595,Skylit Midtown Castle,"Beautiful, spacious skylit studio in the heart...","Beautiful, spacious skylit studio in the heart...",6.0,6.0,"['email', 'phone', 'reviews', 'offline_governm...",40.75362,-73.98377,2,1.0,0.0,1.0,"{TV,Wifi,""Air conditioning"",Kitchen,""Paid park...",225.0,1,0.0,7,1125,4,34,64,339,48,5,94.0,2,2,0,0,0.38,1,0,0,1,0,1,0,0,1,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,1,1,1,0,1,0,0,0,1,0,0,0,1,0,1
1,1,3,5099,Large Cozy 1 BR Apartment In Midtown East,My large 1 bedroom apartment has a true New Yo...,My large 1 bedroom apartment has a true New Yo...,1.0,1.0,"['email', 'phone', 'reviews', 'jumio', 'govern...",40.74767,-73.97500,2,1.0,1.0,1.0,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",200.0,2,100.0,3,21,0,0,0,0,78,8,90.0,1,1,0,0,0.59,1,0,0,1,1,0,0,0,1,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,1,1,1,0,1,0,1,0,0,0,0,0,1,0,1
2,2,4,5114,Super Room in Great area.,NaN,"First, the area is PERFECT if you want to visi...",3.0,3.0,"['email', 'phone', 'reviews']",40.71910,-73.99040,2,1.0,1.0,1.0,"{TV,Internet,Wifi,""Air conditioning"",Kitchen,E...",94.0,1,13.0,1,730,30,60,90,109,75,0,94.0,3,1,2,0,0.56,1,0,0,1,1,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,0,0,1,1,1,1,0,1,0,0,0,1,0,0,1,0,1,0
3,3,5,5121,BlissArtsSpace!,NaN,HELLO EVERYONE AND THANKS FOR VISITING BLISS A...,1.0,1.0,"['email', 'phone', 'facebook', 'reviews', 'off...",40.68688,-73.95596,2,1.0,1.0,1.0,"{Wifi,""Air conditioning"",Kitchen,""Pets live on...",60.0,1,30.0,29,730,30,60,90,365,50,1,90.0,1,0,1,0,0.38,1,0,0,1,1,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,1,1,1,0,1,0,0,0,1,0,0,1,0,1,0
4,4,6,5178,Large Furnished Room Near B'way,Please don’t expect the luxury here just a bas...,Please don’t expect the luxury here just a bas...,1.0,1.0,"['email', 'phone', 'facebook', 'reviews']",40.76489,-73.98493,2,1.0,1.0,1.0,"{TV,Wifi,""Air conditioning"",""Paid parking off ...",79.0,1,12.0,2,14,18,21,27,207,470,54,84.0,1,0,1,0,3.56,1,0,0,1,1,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,0,0,1,1,1,1,0,1,0,0,0,1,0,0,1,0,1,0

In [24]:
list(df.columns[df.dtypes=="object"])

['name', 'summary', 'description', 'host_verifications', 'amenities']

In [16]:
df.drop(["Unnamed: 0","Unnamed: 0.1"],axis=1,inplace=True)

In [19]:
df.index = df["id"]
df.drop(["id"],axis=1,inplace=True)

In [25]:
df.drop(list(df.columns[df.dtypes=="object"]),axis=1,inplace=True)

In [31]:
df.columns

Index(['host_listings_count', 'host_total_listings_count', 'latitude',
       'longitude', 'accommodates', 'bathrooms', 'bedrooms', 'beds', 'price',
       'guests_included', 'extra_people', 'minimum_nights', 'maximum_nights',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'number_of_reviews', 'number_of_reviews_ltm',
       'review_scores_rating', 'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month',
       'host_is_superhost_f', 'host_is_superhost_t', 'host_has_profile_pic_f',
       'host_has_profile_pic_t', 'host_identity_verified_f',
       'host_identity_verified_t', 'neighbourhood_group_cleansed_Bronx',
       'neighbourhood_group_cleansed_Brooklyn',
       'neighbourhood_group_cleansed_Manhattan',
       'neighbourhood_group_cleansed_Queens',
       'neighbourhood_group_cleansed_Staten Island', 'is_location_exact_f',
       'is_location_exact_t', 'property_type_Apartment',
       'property_type_Condominium', 'property_type_House',
       'property_type_Loft', 'property_type_Townhouse',
       'room_type_Entire home/apt', 'room_type_Hotel room',
       'room_type_Private room', 'room_type_Shared room', 'bed_type_Airbed',
       'bed_type_Couch', 'bed_type_Futon', 'bed_type_Pull-out Sofa',
       'bed_type_Real Bed', 'has_availability_t', 'requires_license_f',
       'instant_bookable_f', 'instant_bookable_t',
       'is_business_travel_ready_f', 'cancellation_policy_flexible',
       'cancellation_policy_moderate', 'cancellation_policy_strict',
       'cancellation_policy_strict_14_with_grace_period',
       'cancellation_policy_super_strict_30',
       'cancellation_policy_super_strict_60',
       'require_guest_profile_picture_f', 'require_guest_profile_picture_t',
       'require_guest_phone_verification_f',
       'require_guest_phone_verification_t'],
      dtype='object')

In [30]:
df.drop(["Unnamed: 0","Unnamed: 0.1"],axis=1,inplace=True)

SyntaxError: ignored

### 변수들의 다중공선성을 체크해주세요. 결과에 따라 적절히 변수를 처리해주세요.

### train/test set을 나눠 선택하신 모델을 돌리고, r2 score로 평가해주세요.

### 잔차의 정규성을 확인해주세요. 해당 모델이 유의한 모델이라고 할 수 있나요?

### 변수의 영향력을 확인해주세요. (model.feature_importances_  또는   model.coef_   등등)
### 어떤 변수의 영향력이 큰가요? 이 변수들은 인과성 가정을 만족하나요?

### 수고하셨습니다. 즐거운 한가위 보내세요!